body {
    background-image: url(./img/Fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img{
    width: 200px;
}

.chat-box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    margin: auto;
    background-color: #F5F5DC;
    border-radius: 10px;
}

.question {
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 1px 0px;
    border: 1px solid #F5F5DC;
    background-color: #ffffff;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #ffc363;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #efb812;
    transition: 3px;
}

#total {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
}
#totalDescuadre{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
}
#totalTransacional{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

/* Personalizar el fondo de los pasos */
.shepherd .shepherd-content {
    background-color: #ffffff; /* Cambia el color de fondo */
    color: #333; /* Cambia el color del texto */
}

.shepherd .shepherd-button-final {
    background-color: #28a745; /* Color de fondo */
    color: #fff; /* Color del texto */
}
.shepherd .shepherd-header{
    color: #fecb24;
    background-color: #fecb24;
}

#videoContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 500px;
    height: 400px;
    z-index: 1000;
    border-radius: 8px;
    touch-action: none;
    overflow: hidden;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

/* Cabecera del video con el mensaje y botón de cierre */
#videoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    cursor: grab;
}

/* Botón de cierre */
#closeVideo {
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 45%;
    width: 40px;
    height: 40px;
    font-size:30px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}

#closeVideo:hover {
    background-color: #e60000;
}

/* Estilo del video */
#miniVideo {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Texto de ayuda sobre el video */
#videoHelpText {
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    color: #555;
    font-weight: normal;
}

/* Diseño para móviles */
@media (max-width: 767px) {
    #videoContainer {
        position: absolute;
        width: 100%;
        margin: 0 auto 20px auto;
        box-shadow: none;
    }

    #miniVideo {
        width: 100%;
    }

    #videoHeader {
        font-size: 16px;
        justify-content: center;
        margin-bottom: 10px;
    }

    

    #mainForm {
        margin-top: 20px;
        width: 90%;
    }
}
#helpShowButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 45%;
    width: 40px;
    height: 40px;
    font-size:30px;
    cursor: pointer;
    line-height: 25px;
    text-align: center;
}

#helpShowButton:hover {
    background-color: #0056b3;
}

.titulo-container {
    display: flex;
    align-items: center; /* Alinea el botón con el texto del título */
    gap: 10px; /* Espaciado entre el título y el botón */
}


